main, p, ul, ol {
    justify-content: flex-start   !important ;
    text-align: left !important;
}

.join-us {
    padding-bottom:1.5em;
}

.join-us ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1.25em;
}

.join-us ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    padding-left: 1.25em;
    /*padding-bottom: 1em;  */
    text-align: left;
}

.join-us ul li {
    line-height: 1.6;
}

.join-us-image {
    height: 20%;
    width: 100%;
    /* code below needed to keep image to left side */
    flex-grow: 0;
    flex-shrink: 0;
}

.join-us-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding-bottom: 30px; */
    /* padding-bottom: 1.875em; */
    justify-content: center;
}

.join-us-section ul li:first-child {
    font-size: 2.5em;
    /* text-align:center; */
}

.join-us-section ul li:nth-child(2) {
    line-height: 1.8;
    font-size: 1rem;
}

.about h1 {
    font-size: 2.5em;
    margin: 0;
    padding-top: 1em;
}

.about p {
    font-size: 1rem;
}

.about li {
    font-size: 1rem;
}

/* REMINDER: Design for MOBILE first 
    -The code below controls website for NON-mobile devices
    -Note that the code above auto applies to code below
     unless specificed/overwritten otherwise
*/
@media only screen and (min-width: 1020px) {
  .join-us-section {
    flex-wrap: nowrap;
  }

  .join-us-image {
    height: 20em;
    width: 30em;
  }

  .about h1 {
    font-size: 1.9em;
  }

  .about p {
    font-size: 1em;
  }  

  .about li {
    font-size: 1em;
  }

  .join-us-section ul li:first-child {
    font-size: 1.9em;
  }

  .join-us-section ul li:nth-child(2) {
    line-height: 1.8;
    font-size: 1em;
  }

}
/* END OF DESKTOP DESIGN */
