* {
    box-sizing: border-box;
}

html {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
}

body, html {
    width: 100%;
    height: 100%
}

.page-margin {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

main, p, ul, ol {
    justify-content: flex-start   !important ;
    text-align: left !important;
}

.navbar {
    padding-bottom: 0.625em;
}

.nav-logo {
    height: 7em;

}
  
#site-logo {
    margin-top: 0;
    text-decoration: none;
    display: inline-block;
    margin-top: 0.625em;
    margin-left: 1.25em;
}
  
.nav-links {
    list-style-type: none;
    display: none;
    padding: 0;
    padding-top: 1em;
}
  
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 2em;

}

.nav-links li {
    text-align: center;
    margin: 1em auto;
    padding: 0;
}

.icon-menu {
    position: absolute;
    top: 0.625em;
    right: 1.25em;
    cursor: pointer;
    color: black;
    font-size: 4em;
}

.icon-menu:hover {
    color: silver;
}
  
.nav-links a:hover {
    color: silver;
}

#chkToggle {
    display: none;
}
  
#chkToggle:checked + ul.nav-links {
    display: block;
}

.join-us ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1.25em;
}

.join-us ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    padding-left: 1.25em;
    padding-bottom: 6.25em;
    text-align: left;
}

.join-us ul li {
    line-height: 1.6;
}

.join-us-image {
    height: 20%;
    width: 100%;
    /* code below needed to keep image to left side */
    flex-grow: 0;
    flex-shrink: 0;
}

.join-us-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding-bottom: 30px; */
    /* padding-bottom: 1.875em; */
    justify-content: center;
}

.join-us-section ul li:first-child {
    font-size: 2.5em;
    /* text-align:center; */
}

.join-us-section ul li:nth-child(2) {
    line-height: 1.8;
}

.about h1 {
    font-size: 2.5em;
    margin: 0;
    padding-top: 0.4em;
}

footer {
    text-align: center;
    background-color:black;
    color: white;
    width: 100%;
    padding-top: 0.1em;
}

/* Need the rule below, or else <p> tag text will not align */
footer p {
    text-align: center    !important;
    font-size: 2vh;
} 

footer a {
    text-decoration:none;
    color: white;
    font-size: 4vh;
    padding-right: 1em;
}

footer a:nth-child(4) {
    padding-right: 0;
}

footer a:hover {
    color: silver;
}

/* REMINDER: Design for MOBILE first 
    -The code below controls website for NON-mobile devices
    -Note that the code above auto applies to code below
     unless specificed/overwritten otherwise
*/
@media only screen and (min-width: 1020px) {

  .icon-menu {
      display: none;
  }

  #chkToggle:checked + ul.nav-links {
    display: flex;
}

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-logo {
    height: 5em;
    padding: 0;
  }

  #site-logo {
    display: inline-block;
    text-decoration: none;
  }

  .nav-links {
    margin:0;
    padding: 0;
    display: flex;
    list-style: none;
    padding-top: 2vw;
    padding-right: 4vw;
  }

  .nav-links a {
    display: inline-block;
    font-size: 1rem;
    padding-right: 4.8em;
    text-decoration: none;
    color: black;
  }

  .nav-links li:last-child a {
    padding-right: 0;
  }

  .nav-links a:hover {
    color: silver;
  }


  .join-us-section {
    flex-wrap: nowrap;
  }

  .join-us-image {
    height: 60%;
    width: 100%;
  }

  .about h1 {
    font-size: 1.9em;
  }

  .join-us-section ul li:first-child {
    font-size: 1.9em;
  }

  footer p {
    font-size: 1rem;
  }

  footer a {
    font-size: 1.5rem;
    padding-right: 1em;
  }

}
/* END OF DESKTOP DESIGN */