main, p, ul, ol {
    justify-content: flex-start   !important ;
    text-align: left !important;
}

.chapters-map {
    position: relative;
    /* padding-bottom: 75%;  This is the aspect ratio */
    padding-bottom: 65%;
    height: 0;
    overflow: hidden;
}

.chapters-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* REMINDER: Design for MOBILE first 
    -The code below controls website for NON-mobile devices
    -Note that the code above auto applies to code below
     unless specificed/overwritten otherwise
*/
@media only screen and (min-width: 1020px) {
    .chapters-map {
        padding-bottom: 45%;
    }
  
}
/* END OF DESKTOP DESIGN */
