main, p, ul, ol {
    justify-content: flex-start   !important ;
    text-align: left !important;
}

.rush-banner-1 {
    width: 55em;
    max-width: 100%;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    box-shadow: 17px 14px 10px grey;
}

.rush-info {
    max-width: 1020px;
    display: flex;
    /* border: 3px solid blue; */
    padding-top: 3em;
    flex-direction: column-reverse;

}   

.rush-info-text {
    padding-right: 2.5em;
}

.rush-dean {
    border: 3px solid black;
    width: 25em;

    display: block;
    margin: 0 auto;
}

.rush-dean a {
    text-decoration: none;
    color: black;
    font-size: 1.8em;
    text-align: center !important;
    display: block;
}

.rush-dean a:hover {
   color: #808080;
 }


 .rush-dean-infoa {
     text-align: center !important;
     font-size: 1.2em;
     margin: 0;
 }

 .rush-dean-infob {
     text-align: center !important;
     font-style: italic;
     margin: 0;
     margin-bottom: 0.5em;
     font-size: 0.75em;
 }

 .current-dean {
     width: 10em;
     display: block;
     margin: 0 auto;

     border: 1px solid black;
 }

 .rush-dean picture {
     display:block;
     float:left;
 }

 .rush-dean-text {
    flex-direction: column;

    display: block;
    margin: 0 auto;
    padding-top: 2em;
}

.upcoming {
    margin: auto;
    max-width: 1020px;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 2em;
    padding-bottom: 3em;
}

/* REMINDER: Design for MOBILE first 
    -The code below controls website for NON-mobile devices
    -Note that the code above auto applies to code below
     unless specificed/overwritten otherwise
*/
@media only screen and (min-width: 1020px) {
    .rush-info{
        flex-direction: unset;
        margin: auto;
        padding-top: 3em;
    }

    .current-dean {

    }

    .rush-dean {

    }

    .rush-dean picture {
        
    }

    .rush-dean-text {
      
    }


  
}
/* END OF DESKTOP DESIGN */
